TODO.md
TODO*


.DS_Store
Thumbs.db

.bak
*~
._*

*.iso
*.tar
*.zip
*.tar.gz
*.tgz
*.7z
*.jar
*.rar
*.bzip
*.bzip2

.vscode/
.idea/

#* custom
zsh/.oh-my-zsh

yazi/flavors

eza/eza*

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

.venv
