.vscode/
.idea/
.DS_Store
Thumbs.db

.bak
*~
._*

*.iso
*.tar
*.zip
*.tar.gz
*.tgz
*.7z
*.jar
*.rar
*.bzip
*.bzip2
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.venv
node_modules

TODO.md
TODO*

eza/eza*
lazysql/config.toml
tmux/plugins/
zsh/.oh-my-zsh/*
!zsh/.oh-my-zsh/.git


