.vscode/
.idea/
.DS_Store
Thumbs.db

.bak
*~
._*
.tmp

*.iso
*.tar
*.zip
*.tar.gz
*.tgz
*.7z
*.jar
*.rar
*.bzip
*.bzip2
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.venv
node_modules

TODO.md
TODO*

tools/eza/eza*
lazysql/config.toml
editor/tmux/plugins/
zsh/.oh-my-zsh/*
!zsh/.oh-my-zsh/.git

# Submodule contents (track refs only)
!tools/.*/.git
tools/.*


